body{
  background-image:url(../images/slider.jpg);
}

/*头部*/
header{
  width:300px;
}
header h1{
  position: relative;
  margin:60px;
  color:white;
}
/*导航栏*/
nav{
  float: right;
  margin:30px;
}
nav li{
  float:left;
  list-style-type:none;
}
nav a{
  display:block;
  width:80px;
  color:white;
  text-decoration:none;
}
nav a:hover{
  color:#B0C4DE;
}
/*我的信息*/
aside{
  float:left;
  margin: 60px;
  width:300px;
}
#avator img{
  border-width:3px;
  border-style:solid;
  border-color:white;
  width:100px;
  height:100px;
}
.detail_key{
  color:white;
}
.detail_value{
  color:#7EC0EE;
}
/*内容*/
.article_title{
  color:white;
}
.article_content{
  color:white;
}
