<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <script src="../js/default.js" th:src="@{/fourthweb/js/default.js}"></script>
  <link rel="stylesheet" type="text/css" href="../css/default.css"
  th:href="@{/fourthweb/css/default.css}"/>

  <title>聪聪小可爱</title>
</head>
<body>
  <header>

    <img src="../images/avator.jpg" th:src="@{/fourthweb/images/avator.jpg}" />

    <!-- <div class="nav" > -->
      <ul>
        <li><a href="#" th:href="#">首页</a></li>
        <li><a href="#" th:href="#">兴趣</a></li>
        <li><a href="#" th:href="#">技能</a></li>
        <li><a href="#" th:href="#">作品</a></li>
        <li><a href="#" th:href="#">我在这儿</a></li>
      </ul>
    <!-- </div> -->

  </header>
</body>
